.slider {
  height: 10%;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90%;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section .nutritionVal {
  font-size: 10em;
}
.expTitle {
  border-bottom: 2px solid rgba(128, 128, 128, 0.589);
}
.card .card-content .EXP {
  font-size: 20px;
}
